
*{

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(background-inicial.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#vantagens {
    bottom: 90%;
    left: 65%;
    text-align: center;
    color: #e6e6fa00;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
}

#sobre {
    bottom: 90%;
    left: 5%;
    text-align: center;
    color: #e6e6fa00;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    font-weight: bold;
    text-decoration: none;
    font-size: 40px;
}

nav a:hover {
	color: #d4a610;
	text-decoration: underline;
}

nav a {
	color: #E6E6FA;
	font-weight: bold;
	font-size: 35px;
	text-decoration: underline;
}

footer{
color: #E6E6FA;
text-transform: uppercase;
height: 5%;
background:rgba(53, 89, 148, 0.315);
display: flex;
justify-content:center ;
align-items:center;
bottom: 0;
position: absolute;
width: 100%;
}

